body, html {
    background: #333;
    color: #ccc;
}

html {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body {
    min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.enemy-card {
    display: grid;
    grid-template-columns: 80px 100px 1fr;
}

.enemy-card .enemy-name {
    width: 8em;
}

.mana-light {
    color: yellow;
}

.mana-ice {
    color: deepskyblue;
}

.empty-mana {
    opacity: 0.5;
}

.mana-die {
    transition: all 0.25s ease;
    border-color: #666;
    background: none;
}

.mana-die-selected {
    border-color: white;
    box-shadow: 0px 3px 13px white;
}

div.mana-die-spent {
    opacity: 0.25;
    box-shadow: none;
    border-color: #666;
    transform: scale(0.9);
}

.mana-die-face {
    border-bottom: 2px solid transparent;
    transition: all 0.25s ease;
}

.mana-die-face.highlight {
    border-color: white;
}

h3 {
    font-weight: bold;
    font-size: 1.3em;
}

hr.divider {
    margin: 1em 0;
}

.skill.disabled {

}

.skill.castable {
    cursor: pointer;
    box-shadow: 0px 0px 10px #535bf2;
    border-color: #535bf2;
}
